#typing{
	overflow: hidden;
	border-right: 4px solid white;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 0.16em;
	animation: 
		type 4s steps(40, end),
		blink-caret 0.75s step-end infinite;
}
		
@keyframes type {
	/*0% {
		width:0ch;
	}
	100% {
		width:16ch;
	}*/
	
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from, to { 
		border-color: transparent;
	}
	50% { 
		border-color: white;
	}
}

/*body {
	background-image: url(/StarkLearningApp/img/study.jpg);
	background-size: cover;
	background-repeat: no-repeat;
} */

#main {
	position: relative;
	overflow: hidden;
	min-height: 468px;
	width: 100%;
	height: 89%;
	background: url(/StarkLearningApp/img/study.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.75;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	color: white;
	/*font-family: "Lucida Console", Courier, monospace;*/
	/*font-family: 'Roboto', sans-serif;*/
	font-family: Georgia, serif;
}

html,body {
	height: 100%;
	margin: 0;
	position: relative;
}

html {
	scroll-behavior: smooth;
}

#loginBtn:hover {
	text-decoration: none;
}

#aboutCon {
	padding-top: 5%;
	background-color: #F3F3F3;
	height: 60%;
}

#aboutP {
	text-align: left;
	font-size: 18px;
}

#ourTeamCon {
	padding-top: 5%;
	background-color: white;
	height: 60%;
}

#ourTeamH4 {
	text-align: center;
	font-size: 18px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #424242;
}

.selectPane.active, .selectPane:hover{
	background: #FDCA2E !important;
}

.selectPane {
	background-color: #5E5E5E;
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;	
}

#loginBtn {
	font-family: "Trebuchet MS", Helvetica, sans-serif;	
}

#forgot_password_collapse {
	text-align: left;
	padding-top: 2%;
}

.forgot_password_collapse_link.active, .forgot_password_collapse_link:active{
	color: blue !important;
}