#adminBtn:hover {
	text-decoration: none;
}

.table{
	text-align: center;
}
		
#aboveTable {
	background-color: #ecf0f1;
	padding: 20px 0px;
}

#tableDiv {
	padding-top: 10px;
}

.tbl { 
	border-top: none; 
}

#searchBtn, #infoBtn, #resetPwBtn {
	border: none;
	background-color: transparent;
}

.newUserIcon {
	margin-right: 20px;
}

#infoHeader {
	border: none;
}

#scrollToTopBtn {
	background-color: transparent;
	border: none;
	float: right; 
	color: white;
}