<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>StarkLearningApp</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
    <welcome-file>userAdmin</welcome-file>
    <welcome-file>moderator</welcome-file>
    <welcome-file>test</welcome-file>
    <welcome-file>studentHome</welcome-file>
    <welcome-file>footer</welcome-file>
    <welcome-file>testSideNav</welcome-file>
    <welcome-file>viewQuestion</welcome-file>
    <welcome-file>studentProfile</welcome-file>
    <welcome-file>viewStudentProfile</welcome-file>
  </welcome-file-list>
</web-app>